mainmenu "Test File Config"

# 顶级选择，确保各个测试类型互斥
choice
    prompt "Test Type"
    default TYPE_RESNET

    config TYPE_RESNET
        bool "ResNet Tests"
        help
            Enable ResNet related tests

    config TYPE_VGG
        bool "VGG Tests"
        help
            Enable VGG related tests

    config TYPE_ALEXNET
        bool "AlexNet Tests"
        help
            Enable AlexNet related tests

    config TYPE_LENET
        bool "LeNet Tests"
        help
            Enable LeNet related tests
            
    config TYPE_MOBILENET
        bool "MobileNet Tests"
        help
            Enable MobileNet related tests
            
    config TYPE_SQUEEZENET
        bool "SqueezeNet Tests"
        help
            Enable SqueezeNet related tests

    config TYPE_SAMPLE
        bool "Sample Test"
        help
            Enable manually sample test
endchoice

# ResNet测试选项
menu "RESNET_TEST"
    visible if TYPE_RESNET
    
    choice
        prompt "Posit<32, 2>"
        default RESNET_ADD_P32
        help
            Select one of the ResNet operations for the test.

    config RESNET_ADD_P32
        bool "resnet_add_p32_test"

        help
            Enable ResNet addition test.

    config RESNET_SUB_P32
        bool "resnet_sub_p32_test"

        help
            Enable ResNet subtraction test.

    config RESNET_MUL_P32
        bool "resnet_mul_p32_test"

        help
            Enable ResNet multiplication test.

    config RESNET_DIV_P32
        bool "resnet_div_p32_test"

        help
            Enable ResNet division test.

    config RESNET_DOT_P32
        bool "resnet_dot_p32_test"

        help
            Enable ResNet dot product test. 

    config RESNET_FP32_TO_POSIT32
        bool "resnet_fp32_to_posit32_test"

        help
            Enable IEEE-754 FP32 to Posit32 conversion test.
            
    config RESNET_POSIT32_TO_FP32
        bool "resnet_posit32_to_fp32_test"

        help
            Enable Posit32 to IEEE-754 FP32 conversion test.
            
    config RESNET_GREATER_P32
        bool "resnet_greater_p32_test"

        help
            Enable Posit32 greater comparison test.

    config RESNET_LESS_P32
        bool "resnet_less_p32_test"

        help
            Enable Posit32 less comparison test.

    config RESNET_TRUNCATE_P32
        bool "resnet_truncate_p32_test"

        help
            Enable Posit32 to Int32 truncation test.

    endchoice
endmenu

# VGG测试菜单
menu "VGG_TEST"
    visible if TYPE_VGG
    
    choice
        prompt "Posit<32, 2>"
        default VGG_ADD_P32
        help
            Select one of the VGG operations for the test.

    config VGG_ADD_P32
        bool "vgg_add_p32_test"

        help
            Enable VGG addition test.

    config VGG_SUB_P32
        bool "vgg_sub_p32_test"

        help
            Enable VGG subtraction test.

    config VGG_MUL_P32
        bool "vgg_mul_p32_test"

        help
            Enable VGG multiplication test.

    config VGG_DIV_P32
        bool "vgg_div_p32_test"

        help
            Enable VGG division test.
            
    config VGG_DOT_P32
        bool "vgg_dot_p32_test"

        help
            Enable VGG dot product test.

    config VGG_FP32_TO_POSIT32
        bool "vgg_fp32_to_posit32_test"

        help
            Enable IEEE-754 FP32 to Posit32 conversion test for VGG.
            
    config VGG_POSIT32_TO_FP32
        bool "vgg_posit32_to_fp32_test"

        help
            Enable Posit32 to IEEE-754 FP32 conversion test for VGG.
            
    config VGG_GREATER_P32
        bool "vgg_greater_p32_test"

        help
            Enable Posit32 greater comparison test for VGG.

    config VGG_LESS_P32
        bool "vgg_less_p32_test"

        help
            Enable Posit32 less comparison test for VGG.

    config VGG_TRUNCATE_P32
        bool "vgg_truncate_p32_test"

        help
            Enable Posit32 to Int8 truncation test for VGG.

    endchoice
endmenu

# AlexNet测试菜单
menu "ALEXNET_TEST"
    visible if TYPE_ALEXNET
    
    choice
        prompt "Posit<32, 2>"
        default ALEXNET_ADD_P32
        help
            Select one of the AlexNet operations for the test.

    config ALEXNET_ADD_P32
        bool "alexnet_add_p32_test"

        help
            Enable AlexNet addition test.

    config ALEXNET_SUB_P32
        bool "alexnet_sub_p32_test"

        help
            Enable AlexNet subtraction test.

    config ALEXNET_MUL_P32
        bool "alexnet_mul_p32_test"

        help
            Enable AlexNet multiplication test.

    config ALEXNET_DIV_P32
        bool "alexnet_div_p32_test"

        help
            Enable AlexNet division test.
            
    config ALEXNET_DOT_P32
        bool "alexnet_dot_p32_test"

        help
            Enable AlexNet dot product test.

    config ALEXNET_FP32_TO_POSIT32
        bool "alexnet_fp32_to_posit32_test"

        help
            Enable IEEE-754 FP32 to Posit32 conversion test for AlexNet.
            
    config ALEXNET_POSIT32_TO_FP32
        bool "alexnet_posit32_to_fp32_test"

        help
            Enable Posit32 to IEEE-754 FP32 conversion test for AlexNet.
            
    config ALEXNET_GREATER_P32
        bool "alexnet_greater_p32_test"

        help
            Enable Posit32 greater comparison test for AlexNet.

    config ALEXNET_LESS_P32
        bool "alexnet_less_p32_test"

        help
            Enable Posit32 less comparison test for AlexNet.

    config ALEXNET_TRUNCATE_P32
        bool "alexnet_truncate_p32_test"

        help
            Enable Posit32 to Int8 truncation test for AlexNet.

    endchoice
endmenu

# LENET测试菜单
menu "LENET_TEST"
    visible if TYPE_LENET
    
    choice
        prompt "Posit<32, 2>"
        default LENET_ADD_P32
        help
            Select one of the LeNet operations for the test.

    config LENET_ADD_P32
        bool "lenet_add_p32_test"

        help
            Enable LeNet addition test.

    config LENET_SUB_P32
        bool "lenet_sub_p32_test"

        help
            Enable LeNet subtraction test.

    config LENET_MUL_P32
        bool "lenet_mul_p32_test"

        help
            Enable LeNet multiplication test.

    config LENET_DIV_P32
        bool "lenet_div_p32_test"

        help
            Enable LeNet division test.
            
    config LENET_DOT_P32
        bool "lenet_dot_p32_test"

        help
            Enable LeNet dot product test.

    config LENET_FP32_TO_POSIT32
        bool "lenet_fp32_to_posit32_test"

        help
            Enable IEEE-754 FP32 to Posit32 conversion test for LeNet.
            
    config LENET_POSIT32_TO_FP32
        bool "lenet_posit32_to_fp32_test"

        help
            Enable Posit32 to IEEE-754 FP32 conversion test for LeNet.
            
    config LENET_GREATER_P32
        bool "lenet_greater_p32_test"

        help
            Enable Posit32 greater comparison test for LeNet.

    config LENET_LESS_P32
        bool "lenet_less_p32_test"

        help
            Enable Posit32 less comparison test for LeNet.

    config LENET_TRUNCATE_P32
        bool "lenet_truncate_p32_test"

        help
            Enable Posit32 to Int8 truncation test for LeNet.

    endchoice
endmenu

# MOBILENET_TEST菜单
menu "MOBILENET_TEST"
    visible if TYPE_MOBILENET
    
    choice
        prompt "Posit<32, 2>"
        default MOBILENET_ADD_P32
        help
            Select one of the MobileNet operations for the test.

    config MOBILENET_ADD_P32
        bool "mobilenet_add_p32_test"

        help
            Enable MobileNet addition test.

    config MOBILENET_SUB_P32
        bool "mobilenet_sub_p32_test"

        help
            Enable MobileNet subtraction test.

    config MOBILENET_MUL_P32
        bool "mobilenet_mul_p32_test"

        help
            Enable MobileNet multiplication test.

    config MOBILENET_DIV_P32
        bool "mobilenet_div_p32_test"

        help
            Enable MobileNet division test.
            
    config MOBILENET_DOT_P32
        bool "mobilenet_dot_p32_test"

        help
            Enable MobileNet dot product test.

    config MOBILENET_FP32_TO_POSIT32
        bool "mobilenet_fp32_to_posit32_test"

        help
            Enable IEEE-754 FP32 to Posit32 conversion test for MobileNet.
            
    config MOBILENET_POSIT32_TO_FP32
        bool "mobilenet_posit32_to_fp32_test"

        help
            Enable Posit32 to IEEE-754 FP32 conversion test for MobileNet.
            
    config MOBILENET_GREATER_P32
        bool "mobilenet_greater_p32_test"

        help
            Enable Posit32 greater comparison test for MobileNet.

    config MOBILENET_LESS_P32
        bool "mobilenet_less_p32_test"

        help
            Enable Posit32 less comparison test for MobileNet.

    config MOBILENET_TRUNCATE_P32
        bool "mobilenet_truncate_p32_test"

        help
            Enable Posit32 to Int8 truncation test for MobileNet.

    endchoice
endmenu

# SQUEEZENET_TEST菜单
menu "SQUEEZENET_TEST"
    visible if TYPE_SQUEEZENET
    
    choice
        prompt "Posit<32, 2>"
        default SQUEEZENET_ADD_P32
        help
            Select one of the SqueezeNet operations for the test.

    config SQUEEZENET_ADD_P32
        bool "squeezenet_add_p32_test"

        help
            Enable SqueezeNet addition test.

    config SQUEEZENET_SUB_P32
        bool "squeezenet_sub_p32_test"

        help
            Enable SqueezeNet subtraction test.

    config SQUEEZENET_MUL_P32
        bool "squeezenet_mul_p32_test"

        help
            Enable SqueezeNet multiplication test.

    config SQUEEZENET_DIV_P32
        bool "squeezenet_div_p32_test"

        help
            Enable SqueezeNet division test.
            
    config SQUEEZENET_DOT_P32
        bool "squeezenet_dot_p32_test"

        help
            Enable SqueezeNet dot product test.

    config SQUEEZENET_FP32_TO_POSIT32
        bool "squeezenet_fp32_to_posit32_test"

        help
            Enable IEEE-754 FP32 to Posit32 conversion test for SqueezeNet.
            
    config SQUEEZENET_POSIT32_TO_FP32
        bool "squeezenet_posit32_to_fp32_test"

        help
            Enable Posit32 to IEEE-754 FP32 conversion test for SqueezeNet.
            
    config SQUEEZENET_GREATER_P32
        bool "squeezenet_greater_p32_test"

        help
            Enable Posit32 greater comparison test for SqueezeNet.

    config SQUEEZENET_LESS_P32
        bool "squeezenet_less_p32_test"

        help
            Enable Posit32 less comparison test for SqueezeNet.

    config SQUEEZENET_TRUNCATE_P32
        bool "squeezenet_truncate_p32_test"

        help
            Enable Posit32 to Int8 truncation test for SqueezeNet.

    endchoice
endmenu

# 设置配置辅助变量
config SAMPLE_TEST
    bool
    default y if TYPE_SAMPLE